// Styles Reset
@import "normalize";

//variables and mixins
@import "settings";

* {
  @include box-sizing(border-box);
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-weight: 300;
  font-size: .95rem;
}

ul, li {
  list-style-position: inside;
}

h3 {
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
}

button {
  border: none;
  background: #265f82;
  color: white;
  cursor: pointer;
  padding: 10px;
  @include transition(background .3s ease);
}

button:hover {
  border: none;
  background: #1F4C69;
  color: white;
  padding: 10px;
}

button:disabled {
  cursor: default;
  background: #698ea5;
}

.centered-form {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  @include linearGradient(rgba(39,107,130,1), rgba(49,84,129,1));
}

.centered-form__form {
  background: rgba(250, 250, 250, 0.9);
  border: 1px solid #e1e1e1;
  @include border-radius(5px);
  padding: 0px 20px;
  margin: 20px;
  width: 230px;
}

.form-field {
  margin: 20px 0;
	label {
	  display: block;
	  margin-bottom: 7px;
	}
	input, select {
	  border: 1px solid #e1e1e1;
	  padding: 10px;
	}
	& > * {
	  width: 100%;
	}
}

.chat {
  display: flex;
}

.chat__sidebar {
  overflow-y: scroll;
  width: 260px;
  height: 100vh;
  @include linearGradient(rgba(39,107,130,1), rgba(49,84,129,1));
	h3 {
	  color: #e6eaee;
	  margin: 10px 20px;
	  text-align: left;
	}
	ul {
	  list-style-type: none;
	}
	li {
	  background: #e6eaee;
	  border: 1px solid #e1e1e1;
	  @include border-radius(5px);
	  padding: 10px;
	  margin: 10px;
	}
}

.chat__main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.chat__messages {
  flex-grow: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.chat__footer {
  background: #e6eaee;
  display: flex;
  padding: 10px;
  /*height: 60px;*/
  flex-shrink: 0;
	form {
	  flex-grow: 1;
	  display: flex;
	}
	form * {
	  margin-right: 10px;
	}
	input {
	  border: none;
	  padding: 10px;
	  flex-grow: 1;
    border-left: 2px solid transparent;
    @include transition(border .3s ease);
    @include placeholder {
      color: #dbdbdb;
    }
    &:focus {
      border-left: 2px solid rgba(49,84,129,1);
    }
	}
}

.chat__messages {
  list-style-type: none;
  padding: 10px;
}

.message {
  padding: 10px;
}

.message__title {
  display: flex;
  margin-bottom: 5px;
	h4 {
	  font-weight: 600;
	  margin-right: 10px;
	}
	span {
	  color: #999;
	}
}

@media (max-width: $medium) {
  * {
    font-size: 1rem;
  }

  .chat__sidebar {
    display: none;
  }

  .chat__footer {
    flex-direction: column;
	  form {
	    margin-bottom: 10px;
	  }
		button {
		    margin-right: 0px;
		}
	}
}

